<div class="row" *ngIf="logginSucces">
  <div class="logInDiv">
    <form [formGroup]="logInForm">

      <mat-form-field>
        <input required matInput formControlName="UserName" placeholder="Username">
      </mat-form-field><br>
      <mat-form-field>
        <input required matInput formControlName="Password" placeholder="Password">
      </mat-form-field><br>

    </form>

    <button mat-raised-button color="primary" (click)="logIn()">Send</button>
  </div>
</div>


<button *ngIf="!logginSucces" mat-raised-button class="mgtbOne" color="primary" (click)="logOut()">LogOut</button>
<button *ngIf="!logginSucces" mat-raised-button class="mgtbOne" (click)="addNew()">Add new</button><br><br>

<div *ngIf="addNewTask">
    <form [formGroup]="addTaskForm">

      <mat-form-field>
        <input required matInput formControlName="content" placeholder="Content">
      </mat-form-field><br>
     <br>

    </form>

    <button mat-raised-button color="primary" (click)="saveTask()">Save</button>
</div>

<ng-container *ngIf="tasks && active">

  <div class="infoCard {{task.Collor}}" *ngFor="let task of tasks; let i = index">
    <ul class="inline">
      <li>
        <div>
          <small>Number:</small><br>
          {{i + 1 }}.)
        </div>
      </li>
      <li>
        <div>
          <small>Content:</small><br>
          {{task.content}}
      </div>
      </li>
      <li>
        <div>
          <small>Created:</small><br>
          {{task.created | date:'dd-MM-yyyy'}}
        </div>
      </li><br>

      <li>
        <button mat-raised-button class="mgtbOne" color="warn" (click)="deleteTask(task.id)">Delete</button>
        <button mat-raised-button class="mgtbOne myColorGray" *ngIf="!task.Collor" (click)="doneTask(task.id)">Done</button>
       </li>
    </ul>
  </div>
</ng-container>
